<form action="{{ path('alexispe_sylius_round_up_plugin_shop_round_up_cart') }}" method="POST" class="ui segment">

    <button type="submit" class="mini ui button labeled icon fluid">
        <i class="icon arrow alternate circle up outline"></i>
        {{ 'alexispe_sylius_round_up_plugin.ui.round_up_cart'|trans }}
    </button>
</form>
